body {
  background-color: #FFFFFF;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.sidebar-container {
  display: flex;
}

.sidebar-arrow {
  position: relative;
  display: block;
  float: right;
  cursor: pointer;
}

.sidebar {
  display: flex;
  float: left;
  background-color: black;
  flex-direction: column;
  height: 100%;
  width: 0;
  overflow: auto;
  transition: 0.5s;
}

.sidebar a {
  flex-grow: 1;
  color: white;
  margin: 10px 10px;
}

.header-container {
  margin-left: 5px;
}

.forum-container {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.forum-header {
  display: flex;
  flex-direction: column;
  background: grey;
  margin-bottom: 0px;
  padding: 3px 15px;
}

.thread-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.thread-panel {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}

#forum-text {
  color: white;
  margin-bottom: 0;
}

#basic-text {
  margin-top: 5px;
}