{% include 'side.html' %}

<link rel="stylesheet" href="forum.css">

{% block content %}
    <div class="forum-container">
        <div class="forum-header">
            <h2 id="forum-text">rekomendasi buku?</h2>
            <p id="basic-text">subforum description</p>
        </div>
        <div class="thread-container">
            <div class="thread-panel">
                <i>insert cover</i>
                <p><a href="">Thread name</a></p>
                <p>thread creator</p>
                <p>post amounts: | last reply: </p>
            </div>
        </div>
    </div>
    <script src="forum.js"></script>
{% endblock content %}
<!--<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="forum.css">
</head>
<body>
    <div class="header-container">
        <h1>FORUMS</h1>
    </div>
    <div class="sidebar-container">
        <button class="sidebar-arrow">
            <p><i class="arrow right"></i></p>
        </button>
        <div class="sidebar">
            <a href="">Rekomendasi Buku</a>
            <a href="">Trending Forums</a>
            <a href="">Recent Forums</a>
            <a href="">+Add a New Thread</a>
        </div>
    </div>
    <div class="subforum-container">
        <div class="subforum-header">
            <h2 id="subforum-text">rekomendasi buku?</h2>
            <p id="basic-text">subforum description</p>
        </div>
        <div class="thread-container">
            <div class="thread-panel">
                <i>insert cover</i>
                <p><a href="">Thread name</a></p>
                <p>thread creator</p>
                <p>reply amounts | last reply</p>
            </div>
        </div>
    </div>
    <script src="forum.js"></script>
</body>
</html>-->