body {
    background-color: #FFFFFF;
}

#header-wrapper {
    padding: 0 20px;
    margin: 0 0 0 30px;
    color: #9873F7;
    font-size: 25px;
}

.sidebar-box {
    display: flex;
    background: grey;
    flex-direction: column;
}

.forum-links {
    background-color: grey;
    border: black;
}