{% extends 'base.html' %}

{% block content %}
    <div id="content">
        <div class="forum-container">
            <h1 class="forum-title">FORUMS</h1>
            <div class="link-container">
                <a class="to-forum" href="{% url 'forum:show_forum' %}">Rekomendasi Buku</a>
                <a class="to-forum" href="">Forum Trending</a>
                <a class="to-forum" href="{% url 'forum:forum_writers' %}">Forum Penulis</a>
                <a class="to-forum" href="{% url 'forum:forum_explore' %}">Eksplorasi</a>
            </div>
            <div class="forum-header">
                <h2 id="forum-text">Forum Trending</h2>
                <p id="basic-text">Mau cari forum yang penuh diskusi? Tempatnya disini!</p>
            </div>
            <div class="thread-container" id="all-forum">
            </div>
            <form id="thread-form" class="fixed-form" method="post" onsubmit="return false">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="forum" class="col-form-label">Forum: </label>
                    <select id="select-forum" class="form-control">
                        <option value="thread">Thread Baru</option>
                        <option value="recommend">Thread Rekomendasi Buku</option>
                        <option value="penulis">Thread Penulis</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="name" class="col-form-label">Judul Thread: </label>
                    <input type="text" class="form-control" id="name" name="name"></input>
                </div>
                <div class="mb-3">
                    <label for="name" class="col-form-label">Buku: </label>
                    <input type="text" class="form-control" id="buku" buku="buku"></input>
                </div>
                <button type="submit" onclick="addThread()">Buat Thread</button>
            </form>
        </div>
    </div>
    <script src='/static/forum/forum.js'></script>
{% endblock %}