<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="forum.css">
</head>
<body>
    <div id="header-wrapper">
        <h1 id="forum-header">FORUM</h1>
    </div>
    <div class="sidebar-wrapper">
        <div class="sidebar-box">
            <a href="" class="forum-links">Book Recommendations</a>
            <a href="" class="forum-links">Trending</a>
            <a href="" class="forum-links">Recent</a>
            <a href="" class="forum-links">Explore</a>
            <a href="" class="forum-links">Add Forum</a>
        </div>
    </div>

    <script>
        
    </script>
</body>
</html>
