{% block content %}
    <header>
        <div class="header-container">
            <h1>FORUMS</h1>
        </div>
    </header>
    <div class="sidebar-container">
        <button class="sidebar-arrow" id="arrow-button">
            <p><i class="arrow right"></i></p>
        </button>
        <div class="sidebar" id="sidebar">
            <a href="">Rekomendasi Buku</a>
            <a href="">Trending Forums</a>
            <a href="">Recent Forums</a>
            <a href="">+Add a New Thread</a>
        </div>
    </div>
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            var mainContent = document.getElementById("content");
          
            if (sidebar.style.width === "250px") {
              sidebar.style.width = "0";
              mainContent.style.marginLeft = "0";
            } else {
              sidebar.style.width = "250px";
              mainContent.style.marginLeft = "250px";
            }
          }
    </script>
{% endblock content %}