{% extends 'base.html' %}
{% load static %}

{% block meta %} 
<link rel="stylesheet" href="{% static 'pinjam.css' %}">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>PinjamBuku</title>
{% endblock meta %}

{% block content %}
<div id="modal" class="fixed left-0 top-0 bg-black bg-opacity-50 w-screen h-screen flex justify-center items-center hidden">
    <div id="inside" class="rounded shadow-md p-8 sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-2/5 2xl:w-1/3" style="background-color: #f6d9af; display: flex; flex-direction: column;">
        <div>
            <form id="pinjamForm">
                {{form}}
            </form>
            <div class="text-center sm:text-right mb-4 mt-5" style="display: flex; justify-content: center;">
                <button onclick="pinjamBuku()" id="pinjamButton" type="submit" class="bg-white border-[1px] border-gray-600 rounded px-4 py-2 text-black cursor-pointer hover:bg-blue-700" style="margin-bottom: 10px;">Pinjam</button>
            </div>
            <div class="text-center">
                <button onclick="closeModal()" id="dialog" class="bg-white border-[1px] border-gray-600 rounded px-4 py-2 text-black cursor-pointer hover:bg-gray-600"> Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-dipinjam" class="fixed left-0 top-0 bg-black bg-opacity-50 w-screen h-screen flex justify-center items-center hidden">
    <div id="informasi-dipinjam" class="rounded shadow-md p-8 sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-2/5 2xl:w-1/3" value1= "" style="background-color: #f6d9af; display: flex; 
    flex-direction: column;">
    </div>
</div>


<div class="text-center">
    <div class="mt-2" style="margin-bottom: 30px; margin-top: 30px;">
        <h1 class="text-3xl">
            Peminjaman Buku
        </h1>
    </div>
    <hr class="my-4" style="border-color: black; border-width: 2px;">
    <div>
        <h1 class="text-2xl" style="margin-top: 30px; margin-bottom: 5px;">
            Buku Dipinjam 
        </h1>
        <h1 class="text-1xl" style="margin-bottom: 30px;">
            <span class="italic"> Click</span> gambar untuk mengembalikan!
        </h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 place-content-center" id="product_dipinjam"></div>
    </div>
    <hr class="my-4" style="border-color: black; border-width: 2px;">
    <div>
        <h1 class="text-2xl" style="margin-top: 30px; margin-bottom: 5px;">
            Buku Tersedia
        </h1>
        <h1 class="text-1xl" style="margin-bottom: 30px;">
            Click gambar untuk meminjam!
        </h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 place-content-center" id="product_table"></div>
    </div>
</div>

<script>
    let bookId
    async function getAll() {
        return fetch("{% url 'peminjamanbuku:get_buku_json' %}").then((res) => res.json())
    }

    async function getPinjam() {
        return fetch("{% url 'peminjamanbuku:get_pinjam_json' %}").then((res) => res.json())
    }

    async function getBuku(id) {
        let url = `/peminjamanbuku/get-buku-by-id/${id}/`;
        return fetch(url).then((res) => res.json());
    }

    async function refreshItem() {
        document.getElementById("product_table").innerHTML = ""
        let all = await getAll()
        let htmlString = ""
        all.forEach((item) => {
            htmlString += `
                <div class="card">
                    <div class="card-body">
                        <button onclick="openForm(${item.pk})" class="modal-link">
                            <img for="modal-pinjem" src="${item.fields.img}" style="object-fit: contain; width: 100%; height: 100%;">
                        </button>
                        </div>
                        <label class="text-sm">${item.fields.title}</label>
                </div>` 
        })

        document.getElementById("product_table").innerHTML = htmlString

        document.getElementById("product_dipinjam").innerHTML = ""
        all = await getPinjam()
        htmlString = ""
        all.forEach((item) => {
            htmlString += `
                <div class="card">
                    <div class="card-body">
                        <button onclick="openDetail(${item.fields.buku} )" class="modal-link">
                            <img src="${item.fields.gambarBuku}" style="object-fit: contain; width: 100%; height: 100%;">
                        </button>
                    </div>
                    <label class="text-sm">${item.fields.title}</label>
                </div>` 
        })

        document.getElementById("product_dipinjam").innerHTML = htmlString
    }
    
    function openForm(id) {
        const modal = document.getElementById('modal');
        modal.classList.remove('hidden');
        bookId = id
    }

    function closeModal() {
        const modal = document.getElementById('modal');
        document.getElementById("pinjamForm").reset()
        modal.classList.add('hidden'); 
    }

    function pinjamBuku() {
        let formData = new FormData(document.getElementById('pinjamForm'));
        formData.append('bookId', bookId);
        console.log(formData)
        closeModal()

        fetch("{% url 'peminjamanbuku:pinjam_buku' %}", {
            method: "POST",
            body: formData
        }).then(refreshItem);
            document.getElementById("pinjamForm").reset()
        }

    async function openDetail(id) {
        const modalPinjam = document.getElementById('modal-dipinjam');
        let bukuDicari = await getBuku(id)
        document.getElementById("informasi-dipinjam").value1 = id
        document.getElementById("informasi-dipinjam").innerHTML = ""
        let htmlString = ""
        htmlString += `
                    <div style="display: flex; flex-direction: row; margin-bottom: 3%">
                        <div style="width: 45%; margin-right: 5% ">
                            <img class="drop-shadow-2xl" src="${bukuDicari[0].fields.img}" style="object-fit: contain; width: 100%; height: 90% ;">
                        </div>
                        <div style="width: 75%; display: flex; flex-direction: column;">
                            <div class= "place-content-center">
                                <label class= "text-center font-semibold text-xl" style="margin-bottom:4%">Detail Buku</label>
                                <br>
                                <label class= "font-normal" style="margin-bottom:2.5%">Nama Buku: ${bukuDicari[0].fields.title}</label>
                                <br>
                                <label class= "font-normal" style="margin-bottom:2.5%">Author: ${bukuDicari[0].fields.author}</label>
                                <br>
                                <label class= "font-normal" style="margin-bottom:2.5%">Tahun Terbit: ${bukuDicari[0].fields.year}</label>
                                <br>
                                <label class= "font-normal" style="margin-bottom:2.5%">Isbn: ${bukuDicari[0].fields.isbn}</label>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <button onclick="kembalikanBuku()" id="kembalikanButton" type="submit" class="bg-white border-[1px] border-gray-600 rounded px-4 py-2 text-black cursor-pointer hover:bg-blue-700" 
                        style="margin-bottom: 10px;"> Kembalikan </button>
                    </div>
                    <div style="display: flex; justify-content: center;">                
                        <button onclick="closeDetail()" id="dialog" class="bg-white border-[1px] border-gray-600 rounded px-4 py-2 text-black cursor-pointer hover:bg-gray-600"> Cancel</button>
                    </div>` 
        document.getElementById("informasi-dipinjam").innerHTML = htmlString
        refreshItem()
        modalPinjam.classList.remove('hidden');
    }

    function closeDetail() {
        const modal = document.getElementById('modal-dipinjam');
        modal.classList.add('hidden'); 
    }

    // TODO: INI BELOM
    function kembalikanBuku() {
        let id = document.getElementById("informasi-dipinjam").value1
        let formData = new FormData();
        formData.append('bookId', id);
        
        fetch(`/peminjamanbuku/kembalikan-buku/${id}/`, {
        method: "POST",
        body: formData
        }).then(refreshItem);
            closeDetail()
        }
    
    refreshItem()
    
</script>

{% endblock content %}