{% extends 'base.html' %}
{% load static %}

{% block meta %} 
<link rel="stylesheet" href="{% static 'pinjam.css' %}">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>PinjamBuku</title>
{% endblock meta %}

{% block content %}
<div id="modal" class="fixed left-0 top-0 bg-black bg-opacity-50 w-screen h-screen flex justify-center items-center hidden">
    <div id="inside" class="rounded shadow-md p-8 w-[70%]" style="background-color: #f6d9af;">
        <div>
            <form id="pinjamForm">
                <div class="mb-4">
                    <label for="namaUser" class="block text-sm font-medium text-gray-700">Nama User:</label>
                    <input type="text" id="namaUser" name="namaUser" class="form-input w-full">
                </div>
                <div class="mb-4">
                    <label for="tanggalAkhir" class="block text-sm font-medium text-gray-700">Tanggal Pengembalian:</label>
                    <input type="date" id="tanggalAkhir" name="tanggalAkhir" class="form-input w-full">
                </div>
            </form>
            <div class="text-right" style="display: flex; justify-content: center;">
                <button onclick="pinjamBuku()" id="pinjamButton" type="submit" class="bg-white border-[1px] border-gray-600 rounded px-4 py-2 text-black cursor-pointer hover:bg-blue-700" style="margin-bottom: 10px;">Pinjam</button>
            </div>
            <div style="display: flex; justify-content: center;">
                <button onclick="closeModal()" id="dialog" class="bg-white border-[1px] border-gray-600 rounded px-4 py-2 text-black cursor-pointer hover:bg-gray-600"> Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-dipinjam" class="fixed left-0 top-0 bg-black bg-opacity-50 w-screen h-screen flex justify-center items-center hidden">
    <div id="informasi-dipinjam" class="rounded shadow-md p-8 w-[70%]" style="background-color: #f6d9af;">
        <div style="display: flex; justify-content: center;">
            <button onclick="closeModal()" id="dialog" class="bg-white border-[1px] border-gray-600 rounded px-4 py-2 text-black cursor-pointer hover:bg-gray-600"> Cancel</button>
        </div>
    </div>
</div>


<div class="text-center">
    <div class="mt-2" style="margin-bottom: 30px; margin-top: 30px;">
        <h1 class="text-3xl">
            Peminjaman Buku
        </h1>
    </div>
    <hr class="my-4" style="border-color: black; border-width: 2px;">
    <div>
        <h1 class="text-3xl" style="margin-top: 30px; margin-bottom: 30px;">
            Buku Dipinjam 
        </h1>
        <div class="place-content-center" id="product_dipinjam"></div>
    </div>
    <hr class="my-4" style="border-color: black; border-width: 2px;">
    <div>
        <h1 class="text-3xl" style="margin-top: 30px; margin-bottom: 30px;">
            Buku Tersedia
        </h1>
        <div class="place-content-center" id="product_table"></div>
    </div>
</div>

<script>
    let bookId
    async function getAll() {
        return fetch("{% url 'peminjamanbuku:get_buku_json' %}").then((res) => res.json())
    }

    async function getPinjam() {
        return fetch("{% url 'peminjamanbuku:get_pinjam_json' %}").then((res) => res.json())
    }

    async function refreshItem() {
        document.getElementById("product_table").innerHTML = ""
        let all = await getAll()
        let htmlString = ""
        all.forEach((item) => {
            htmlString += `
                <div class="card">
                    <div class="card-body">
                        <button onclick="openForm(${item.pk})" class="modal-link">
                            <img for="modal-pinjem" src="${item.fields.img}" style="object-fit: contain; width: 100%; height: 100%;">
                        </button>
                    </div>
                </div>` 
        })

        document.getElementById("product_table").innerHTML = htmlString

        document.getElementById("product_dipinjam").innerHTML = ""
        all = await getPinjam()
        htmlString = ""
        all.forEach((item) => {
            htmlString += `
                <div class="card">
                    <div class="card-body">
                        <button onclick="openDetail(${item.fields.buku})" class="modal-link">
                            <img src="${item.fields.gambarBuku}" style="object-fit: contain; width: 100%; height: 100%;">
                        </button>
                    </div>
                </div>` 
        })

        document.getElementById("product_dipinjam").innerHTML = htmlString
    }
    
    function openForm(id) {
        const modal = document.getElementById('modal');
        modal.classList.remove('hidden');
        bookId = id
    }

    function closeModal() {
        const modal = document.getElementById('modal');
        document.getElementById("pinjamForm").reset()
        modal.classList.add('hidden'); 
    }

    function pinjamBuku() {
        let formData = new FormData(document.querySelector('#pinjamForm'));
        formData.append('bookId', bookId);
        closeModal()

        fetch("{% url 'peminjamanbuku:pinjam_buku' %}", {
            method: "POST",
            body: formData
        }).then(refreshItem);
            document.getElementById("pinjamForm").reset()
        }

    function openDetail(id) {
        const modalPinjam = document.getElementById('modal-dipinjam');
        modal.classList.remove('hidden');
        bookId = id
    }

    function closeDetail() {
        const modal = document.getElementById('modal-dipinjam');
        modal.classList.add('hidden'); 
    }

    refreshItem()
    
</script>

{% endblock content %}