.carousel {
    position: relative;
    margin: 0 auto;
    width: 80%;
}

.carousel-item {
    display: none;
    height: 300px;
    margin: auto;
    text-align: center;
    background: grey;
    padding: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.carousel-item-selected {
    display: block;
}

.carousel-navigator {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.carousel-button {
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.carousel-button-selected {
    background: rgba(255, 255, 255, 0.5);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.recommend-item {
    background: white;
    border: 3px solid black;
    width: 20%;
    height: 50px;
    color: black;
}

.welcoming {
    display: flex;
    margin: 70px 30px;
    align-items: center;
    padding: 50px 0 50px 30px;
    background-image: url("library_background.jpg");
}

#left-welcome {
    display: block;
    height: 200px;
    width: 55%;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 0 0 20px;
}

#right-welcome {
    display: block;
    height: 300px;
    width: 45%;
    background-color: rgba(255, 221, 0, 0.6);
    padding: 0 20px 0;
    text-align: right;
}

#daftar-buku {
    background: white;
    border: 2px solid black;
    height: 30px;
}

#daftar-buku:hover {
    background: rgb(195, 189, 189);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: relative;
    margin: 30px 0;
}

.card {
    background-color: rgb(220, 208, 171);
    border: 2px solid;
    border-radius: 10px;
    padding: 15px;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.popup {
    display: none; /* Pop up untuk fitur awalnya tersembunyi */
    position: fixed; 
    z-index: 2; 
    left: 32%;
    top: 0;
    width: calc(100%/3);
    height: auto; 
}

.popup-content {
    background-color: beige;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; 
    text-align: justify;
    border-radius: 10px;
}

.close {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer; 
}

.close:focus {
    color: black;
    text-decoration: none;
}