body{
    font-family: 'Minecraft', sans-serif;
}

.card{
    width: 265px;
    height: 300px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.card-body{
    width: 180px; 
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f6d9af;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

#product_table {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 75px;
} 

#product_dipinjam{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 75px;
}

